:root {
    --primarycolor: #1da6c2;
    --secondcolor: #9acbdb;
    --lightcolor: L#ffffff;
    --bgcolor1: #171a1c;
    --bgcolor2: #212629;

    --pading: 8%
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--bgcolor1);
}

* {
    margin: 0;
    padding: 0%;
    /* display: flex; */
    box-sizing: border-box;

}

/* ///////////////////////header////////////////// */
.header {
    width: 100%;
    height: 7vh;
    padding-top: 2rem;
    padding-left: var(--pading);
    padding-right: var(--pading);
    /* background-color: violet; */
    position: static;
    z-index: 2;


}

.fh {
    display: flex;
}


i.fa-sharp.fa-solid.fa-code {
    font-size: 2.5rem;
    /* width: 50%; */
    /* height: 55%;
}

.cod {
    /* margin: 0; */
    padding-top: 27%;
    padding-right: 5%;
    /* width: 50%; */
    /* height: 50%;*/
}

.header ul li a {
    font-size: 1.5rem;
    margin-right: 0.4rem;
}

.num {
    font-size: 2rem;
    color: var(--primarycolor);
}

.h {
    color: white;
}

.black {
    font-size: 3rem;
    color: var(--secondcolor);
}

.title {
    color: var(--primarycolor);
    margin-left: 5%;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;


}

/* ////////////////////////content//////////////////////// */

.content {
    height: 93vh;
    display: flex;
    padding: 1.5rem var(--pading) 0;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

}

.home h1 {
    font-size: 4rem;
    font-weight: bold;
}

.home h3 {
    font-size: 1rem;

}

h2 {
    font-size: 1.5rem;
}

span {
    color: var(--primarycolor);
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav ul {
    list-style-type: none;



}

nav ul li {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    display: inline-block;

}

nav ul li a {
    text-decoration: none;
    color: var(--lightcolor);
    font-size: 1.2rem;
    transition: 0.4s ease;
}

nav ul li a:hover {
    color: var(--primarycolor);
}

/* //////////////////button//////////////////// */
.btn {
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    padding: 0.8rem 1.8rem;
    margin: 0.4rem;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.5s ease;
    display: inline-block;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid var(--primarycolor);
}

/* //////////////////////////// social_image///////////////////// */
.social {
    margin: 2rem 0;

}

.social a {
    text-decoration: none;
}

.social img {
    margin-right: 0.8rem;
    width: 2.2rem;
    transition: 0.5s ease-in-out;
}

.social img:hover {
    transform: scale(1.2);
}

/* ////////////////////////// image//////////////////////////////// */
.content .con_image {
    width: 45%;
    height: 90%;
    position: relative;
    transform: translateX(21%);
    /* background-color: violet; */
    align-self: flex-end;

}

.content .con_image img {
    position: absolute;
    bottom: 0;
    transition: bottom 1s, left 1s;

}

.nimage {
    width: 62%;
    height: 79vh;
    transform: translateX(20%);

    /* transition: 1s; */

}

.cimage {
    height: 78vh;
    width: 99%;
    transform: translateX(-5%);
    /* transition: 1s ease-in-out; */

}

/* .con_image:hover .nimage {
    /* left: -1%; */
/* transform: scale(1.06); */
/* }  */

.con_image:hover .cimage {
    bottom: 3%;
}

/* //////////////////////about/////////////////////// */

.about {
    background-color: var(--bgcolor2);
    display: flex;
    padding: 1.5rem var(--pading) 2rem;
    align-items: center;
    justify-content: space-between;
}

.about .con_image {
    width: 35%;
}

.about .con_image img {
    width: 90%;
}

.about .aboutText {
    width: 45%;
    text-align: center;
    /* padding-left: 20%; */

}

.aboutText h2 {
    font-size: 2.5rem;
    letter-spacing: 0.12rem;
    margin-bottom: 51px;
}

p {
    color: var(--secondcolor);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;


}

h5 {
    font-size: 1.4rem;
    letter-spacing: 0.12rem;
    margin: 1rem 0;
    /* line-height: 10vh; */
}

.text {
    align-items: center;
}

/* //////////////////////// services///////////// */

.services {
    padding: 1.5rem var(--pading) 0;
    text-align: center;



    /* align-items: center; */
}

.text-serv {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;

}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.card {
    background-color: var(--bgcolor2);
    width: 300px;
    padding: 3.2rem 2.1rem;
    border-radius: 20px;
    text-align: center;
    transition: 0.7s ease-out;
    margin-bottom: 1.5rem;
    margin-left: 2%;
    height: 409px;
    align-items: center;
}

.card i {
    font-size: 4.5rem;
    text-align: center;
    color: var(--primarycolor);
    margin: 1.5rem;

}

.card h2 {
    margin-bottom: 3rem;
}

.card:hover {
    transform: scale(1.1);
}

/* /////////////// skill//////////////////
 */

.skill {
    background-color: var(--bgcolor2);
    /* display: flex; */
    padding: 1.5rem var(--pading) 0;
    /* align-items: center;
    justify-content: space-between; */
}

.skill h2 {
    text-align: center;
    font-size: 3rem;
}

.containerskill .con_image {
    width: 30%;
}

.containerskill .con_image img {
    width: 100%;
}

.containerskill {
    align-items: center;
    justify-content: space-between;
    display: flex;

}



.content_skill {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.imageskill {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 1rem 1rem 0;
    transition: 0.5s ease-in;

}

.content_skill .imageskill img {
    width: 80%;
}


.imageskill:hover {
    transform: scale(1.1);
}

/* ////////////contact///////////// */

.contact {
    padding: 1.5rem var(--pading) 0;

}

.contact .box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* ////////////fotter////////// */

footer {
    padding: 1rem 2rem 0 1rem;
    background-color: var(--bgcolor2);

}

.fottext {
    display: flex;
    justify-content: space-between;

}

footer .ttext {
    width: 25%;
    margin-top: 3%;
}

.fottext h5 {
    color: var(--secondcolor);

}

.fottext h3 {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--secondcolor);

}

footer .fh {
    margin-top: 25px;
    width: 20%;
    opacity: 0.5;
}

footer .social {
    margin: 3rem 0;
    opacity: 0.8;

}

/* ///////////////////menu/////////////////// */
#menu {
    position: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    margin: 5px 0;

}

#menu span {
    display: none;
    height: 4px;
    width: 33px;
    background-color: whitesmoke;
    border-radius: 15px;
    transition: 0.4s;

    margin-bottom: 6px;
}


/* /////////////// media/////////////////// */

@media screen and (max-width:575px) {
    :root {
        --padding: 1.rem
    }

    html {
        font-size: 13px;
    }

    .header {
        padding-top: 1.5rem;
        padding-left: 6%;
        padding-right: 6%;
        align-items: center;
        text-align: center;
    }




    #menu {
        position: relative;

    }

    #menu span {
        display: block;

    }

    #menu.is-active span:nth-child(1) {
        transform: translate(0, 9px) rotate(45deg);
    }

    #menu.is-active span:nth-child(2) {
        opacity: 0;
        transform: translate(0, 2px);
    }

    #menu.is-active span:nth-child(3) {
        transform: translate(1px, -10px) rotate(-45deg);
    }

    #menu.is-active span {
        background-color: var(--primarycolor);
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        /* width: 50px; */
        align-items: center;
        text-align: center;
        justify-content: space-around;
        background-color: var(--bgcolor1);
        border-bottom: 1px solid var(--bgcolor2);
        z-index: 100;
        padding: 0 0px 0 -10px;
    }


    nav ul {
        display: none;
        position: fixed;
        /* z-index: 200; */
        width: 100%;
        height: 100%;
        background-color: var(--bgcolor2);
        top: 0;
        left: 0;


    }

    nav ul.is-active {
        display: block
    }


    nav ul li {
        display: block;
        align-items: center;
        margin: 50px;
    }


    nav ul li a {
        text-decoration: none;

    }



    .content .con_image {
        display: none;
    }

    /* .title {
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
    } */

    .home {
        align-items: center;
    }

    .home h1 {
        margin: 1rem 0;
    }

    .home .social {
        margin-top: 4rem;
    }

    .home .cv {
        margin: 3rem 0;
    }



    .content {
        padding: 1.3rem 6% 2% 10%;
        font-size: 18px;

    }

    .box {
        display: inline-block;
    }

    .contact .box {
        display: inline-block;
    }

    .card {
        background-color: var(--bgcolor2);
        width: 200px;
        padding: 2.8rem 1.8rem;
        border-radius: 15px;
        text-align: center;
        transition: 0.7s ease-out;
        margin-bottom: 1.2rem;
        margin-left: 1.5%;
        height: 300px;
    }

    .about {
        padding: 1.3rem 6% 1.5rem;
        font-size: 18px;
        text-align: center;
        justify-content: space-evenly;


    }

    .about .con_image {
        display: none;
    }

    .contact {
        padding: 1.5rem 0 0;
        align-items: center;
        text-align: center;


    }



    .containerskill .con_image {
        display: none;
    }

    .content_skill {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
        justify-content: center;
        width: 74%;
    }

    .containerskill {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
        /* flex-direction: row; */
    }



    .ttext {
        display: none;
    }
}